:root {
    --primary: #2a7ae4;

    /* usar picker de cor */
    --main-video: rgba(245, 5, 7);
}

body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: rgb(255, 255, 255);
    font-family: 'Chakra Petch', sans-serif;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

header {
    border-bottom: 2px solid var(--primary);
    padding: 20px 5%;
}

.logo {
    /* qual eh a familia */
    font-size: 32px;
    color: var(--primary);
}

.hero {
    /* cor que contrasta e combina com o video */
    background-color: var(--main-video);
    max-height: 600px;

    position: relative;

    /* por padrao sem flex, cima, agora sera flex, padrao lado */
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;

}

.hero-call {
    margin-right: 5%;
}

.hero-call h1 {
    font-size: 40px;
}

.hero-call p {
    font-size: 20px;
}

.hero-video iframe {
    border: 1px solid var(primary);
}

.categoria-conteudo {
    overflow-x: auto;
    display: flex;
    max-width: 100%;
    gap: 10px;
}


/* discutir o perigo disso */
.categoria-conteudo img {
    /* para saber mais */
    /* transition: opacity 0.3s ease 0s; */
    border-radius: 10px;
    height: 200px;
    opacity: 0.5;
    border: 0;
}

.categoria-xadrez img:hover {
    border: 1px solid green;
}

.categoria-damas img:hover {
    border: 1px solid red;
}

.categoria-conteudo img:hover {
    opacity: 1.0;
}

.categoria-damas {
    color: red
}

.categoria-xadrez {
    color: green
}

footer {
    border-top: 2px solid var(--primary);
    margin-top: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.categoria h2 {
    font-size: 35px;
}
