body {
    background: #000000;
    color: rgb(255, 255, 255);
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid blue;
    margin-bottom: 32px;
}

.header-content {
    padding: 20px 16px;
}

.logo {
    /* qual eh a familia */
    font-family: 'Chakra Petch', sans-serif;
    font-size: 32px;
    color: blue;
}

.hero {
    /* background-image: url(imagens/chess.png); */
    /* background-size: cover; */
    /* background-position: center; */

    /* cor que contrasta e combina com o video */
    background-color: rgba(228, 12, 12, 0.623);

    /* duvida: background image como desafio */

    max-height: 600px;

    padding: 0 16px;
    position: relative;
    /* por padrao sem flex, cima, agora sera flex, padrao lado */
    display: flex;
    justify-content: center;
    padding: 80px 40px;
}

.hero-call h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 60px;
}

.hero-call p {
    font-size: 32px;
}

.hero-video iframe {
    /* escolher outro blue que lembre o neon */
    border: 1px solid blue;
    border-radius: 10px;
}

.categoria {
    padding: 30px 16px 0px 16px;
}

.categoria-conteudo {
    overflow-x: auto;
    display: flex;
    max-width: 100%;
    gap: 10px;
}


/* discutir o perigo disso */
.categoria-conteudo img {
    transition: opacity 0.3s ease 0s;
    border-radius: 10px;
    height: 200px;
}

.categoria-xadrez img {
    border: 1px solid blue;
}

.categoria-damas img {
    border: 1px solid yellow;
}

.categoria-conteudo img:hover {
    opacity: 0.5;
}

.categoria-damas {
    color: red
}

.categoria-xadrez {
    color: green
}

footer {
    border-top: 1px solid blue;
    margin-top: 32px;
    padding-top: 32px;
}

.footer-content {
    text-align: center;
}













/* para saber mais... */
.categoria-header h2 {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
}

.categoria-damas .categoria-header h2 {
    background-color: green;
    color: white;
}

.categoria-xadrez .categoria-header h2 {
    background-color: red;
    color: white;
}
